[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.rs]
indent_style = tab
indent_size = 4
