[Unit]
Description=swhkd hotkey daemon
BindsTo=sway-session.target

[Service]
Type=simple
# ExecStart=/path/to/hotkeys.sh

[Install]
WantedBy=sway-session.target
